<section class="hero is-fullheight">
    <div class="hero-body is-flex is-mobile-flex-column">
        <div>
            <img src="assets/image_0.jpg" alt="logo" class="logo">
        </div>
        <div class="is-flex-1">
            <form class="sign-up-container mx-auto" [formGroup]="signUpForm">

                <div class="has-text-centered">
                    <p class="title mb-1">Register</p>
                    <label>Create new account</label>
                </div>

                <div class="field mt-5">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. tamil@algoalphatech.com" formControlName="email" /> 
                        @if(signUpForm.controls['email'].invalid && (signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty)) {
                            @if(signUpForm.controls['email'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            }
                            @if(signUpForm.controls['email'].errors?.['email']) {
                                <div class="has-text-danger mt-2">Invalid Email</div>
                            }
                        }
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" formControlName="password"/>
                        @if(signUpForm.controls['password'].invalid && (signUpForm.controls['password'].touched || signUpForm.controls['password'].dirty)) {
                            @if(signUpForm.controls['password'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            }
                        }
                    </div>
                </div>

                <div class="field">
                    <label class="label">Re Enter Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" formControlName="re_password"/>
                        @if(signUpForm.controls['re_password'].invalid && (signUpForm.controls['re_password'].touched ||
                            signUpForm.controls['re_password'].dirty)) {
                            @if(signUpForm.controls['re_password'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            } 
                        }
                    </div>
                </div>

                <div class="field"> 
                    <label>Already have an account ? <a href="/" class="is-size-6">Login</a></label>
                </div>

                <button type="button" (click)="onSignUp()" class="button is-primary is-fullwidth mt-5 is-uppercase">Register</button>
            </form>
        </div>
    </div>
</section>