<section class="hero is-fullheight">
    <div class="hero-body is-flex is-mobile-flex-column">
        <div class="is-flex-grow-1">
            <form class="sign-up-container mx-auto">

                <p class="title">Sign Up</p>
                <p class="subtitle is-size-6 mt-2">An inventory management system made with Angular and python with
                    Flask</p>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. tamil@algoalphatech.com" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Re Enter Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />
                    </div>
                </div>

                <button class="button is-primary is-fullwidth mt-5 is-uppercase">Sign UP</button>
            </form>
        </div>
    </div>
</section>