.sign-up-container {
    width: 25rem;
    background-color: #333333;
    opacity: 0.9;
    padding: 2rem;
    border-radius: 1rem;
}

.logo {
    position: absolute;
    z-index: -200;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.is-flex-1 {
    flex: 1;
}