.table-container {
    width: 70%;
}
.border {
    border: 1px solid gray;
}

.background {
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.1;
    background-repeat: repeat;
    object-fit: cover;
    object-position: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.dashboard-card{
    background-color: #fdfdfd1a;
}