<section class="p-5 container">
    <div class="content is-small">
        <h1>Inventory Management</h1>
        <p class="is-size-6">Simple inventory management system set up with angular limit set to 20</p>
        <ol class="is-size-6">
            <li>Donec blandit a lorem id convallis.</li>
            <li>Cras gravida arcu at diam gravida gravida.</li>
            <li>Integer in volutpat libero.</li>
            <li>Donec a diam tellus.</li>
        </ol>
        <blockquote class="is-size-6">
            Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit
            ipsum, ut blandit est tellus sit amet turpis.
        </blockquote>
    </div>

    <table class="table is-hoverable is-fullwidth mt-5">
        <thead>
            <tr class="is-uppercase is-size-7">
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apple</td>
                <td>10</td>
                <td>100</td>
                <td>Food</td>
                <td class="is-flex is-gap-1">
                    <a href="#">
                        <i class="ti ti-pencil-minus is-size-4"></i>
                    </a>
                    <a href="#">
                        <i class="ti ti-trash is-size-4 has-text-danger"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>