<section class="p-5 container">
    <div class="content is-small">
        <div class="is-flex is-justify-content-space-between is-align-items-center">
            <div>
                <h1>Inventory Management</h1>
                <p class="is-size-6">Simple inventory management system set up with angular limit set to 20</p>
            </div>
            <div>
                <button (click)="onLogout()" class="button">Logout</button>
            </div>
        </div>
        <ul class="is-size-6">
            <li>Add inventory.</li>
            <li>Update inventory and set inventory limit.</li>
            <li>Delete inventory.</li>
            <li>Show inventory details.</li>
        </ul>
        <blockquote class="is-size-6">
            Set inventory limit showing warning message. 
        </blockquote>
    </div>

    <div class="is-flex is-align-items-center is-justify-content-space-between">
        <div>
            <h4 class="title is-size-5 mb-1 py-0">Inventory List</h4>
            <span>Showing 1 to 5 of 5 entries</span>
        </div>
        <a href="inventory-add" class="button">Create New Inventory</a>
    </div>
    <table class="table is-hoverable is-fullwidth mt-5">
        <thead>
            <tr class="is-uppercase is-size-7">
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Supplier</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(inventory of inventoryList; track inventory.id) {
                <tr>
                    <td>{{ inventory.id }}</td>
                    <td>{{ inventory.item_name }}</td>
                    <td>{{ inventory.category }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td>{{ inventory.unit_price }}</td>
                    <td>{{ inventory.supplier || "-" }}</td>
                    <td>{{ inventory.location }}</td>
                    <td class="is-flex is-gap-1">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="" aria-haspopup="true" aria-controls="dropdown-menu4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-checklist has-text-white">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8" />
                                        <path d="M14 19l2 2l4 -4" />
                                        <path d="M9 8h4" />
                                        <path d="M9 12h2" />
                                    </svg>
                                </button>
                            </div>
                            <div class="dropdown-menu is-bordered" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content is-shadowless border">
                                    <div class="dropdown-item" style="width: 300px;">
                                        <form (submit)="onSetLimit($event, inventory.id!)">
                                            <div class="mb-2">
                                                <span class="has-text-white title is-size-6">Set Inventory Limit</span>
                                            </div>
                                            <div>
                                                <label>Inventory Limit</label>
                                                <input type="number" value="{{ inventory.warning_limit }}" class="input" placeholder="Inventory Limit" ngModel name="limit"/>
                                            </div>
                                            <div class="is-flex is-gap-1 is-justify-content-end mt-4">
                                                <button type="button" href="#" class="button is-small">Cancel</button>
                                                <button type="submit" class="button is-primary is-small">Set Limit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="inventory-update/{{ inventory.id! }}" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-minus">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                                <path d="M16 19h6" />
                            </svg>
                        </a>
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="" aria-haspopup="true" aria-controls="dropdown-menu4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash has-text-danger">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M4 7l16 0" />
                                        <path d="M10 11l0 6" />
                                        <path d="M14 11l0 6" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </button>
                            </div>
                            <div class="dropdown-menu is-bordered" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content is-shadowless border">
                                    <div class="dropdown-item" style="width: 300px;">
                                        <div>
                                            <div>
                                                <span class="has-text-white title is-size-6 mb-2">Are you sure?</span>
                                            </div>
                                            <span>You won't be able to revert this! confirm delete inventory.</span>
                                            <div class="is-flex is-gap-1 is-justify-content-end mt-4">
                                                <button href="#" class="button is-small">Cancel</button>
                                                <button (click)="onDelete(inventory.id!)" class="button is-danger is-small">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- <div>
        <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
            <a href="#" class="pagination-previous">Previous</a>
            <a href="#" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li>
                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div> -->
</section>