<section class="hero is-fullheight animate__animated animate__zoomIn">
    <div class="hero-body is-flex is-mobile-flex-column">
        <div class="is-flex-grow-1">
            <form class="inventory-container mx-auto" [formGroup]="inventoryAddForm">

                <p class="title">Create Inventory</p>
                <p class="subtitle is-size-6 mt-2">Create new inventory with name and quantity</p>
                
                <div class="field">
                    <label class="label">Item Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter item name" formControlName="item_name" />
                        @if(inventoryAddForm.controls['item_name'].invalid && (inventoryAddForm.controls['item_name'].touched || inventoryAddForm.controls['item_name'].dirty)) {
                            @if(inventoryAddForm.controls['item_name'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            }
                        }
                    </div>
                </div>
                <div class="field mt-4">
                    <label class="label">Select Category</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select  formControlName="category">
                                @for(inventoryCategory of inventoryCategories; track inventoryCategory) {
                                    <option value="{{inventoryCategory}}">{{ inventoryCategory }}</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="field mt-4">
                    <label class="label">Supplier</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g., supplier"  formControlName="supplier" />
                        @if(inventoryAddForm.controls['supplier'].invalid && (inventoryAddForm.controls['supplier'].touched || inventoryAddForm.controls['supplier'].dirty)) {
                            @if(inventoryAddForm.controls['supplier'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            }
                        }
                    </div>
                </div>

                <div class="field mt-4">
                    <label class="label">Location</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g., thanjavur"  formControlName="location"/>
                        @if(inventoryAddForm.controls['location'].invalid && (inventoryAddForm.controls['location'].touched || inventoryAddForm.controls['location'].dirty)) {
                            @if(inventoryAddForm.controls['location'].errors?.['required']) {
                                <div class="has-text-danger mt-2">required Field</div>
                            }
                        }
                    </div>
                </div>

                <div class="is-flex is-gap-1">
                    <div class="field mt-4">
                        <label class="label">Quantity</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="1"   formControlName="quantity"/>
                            @if(inventoryAddForm.controls['quantity'].invalid && (inventoryAddForm.controls['quantity'].touched || inventoryAddForm.controls['quantity'].dirty)) {
                                @if(inventoryAddForm.controls['quantity'].errors?.['required']) {
                                    <div class="has-text-danger mt-2">required Field</div>
                                }
                            }
                        </div>
                    </div>
    
                    <div class="field mt-4">
                        <label class="label">Unit Price</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="0.00"  formControlName="unit_price"/>
                            @if(inventoryAddForm.controls['unit_price'].invalid && (inventoryAddForm.controls['unit_price'].touched || inventoryAddForm.controls['unit_price'].dirty)) {
                                @if(inventoryAddForm.controls['unit_price'].errors?.['required']) {
                                    <div class="has-text-danger mt-2">required Field</div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="is-flex is-gap-1">
                    <a href="inventory" class="button is-fullwidth mt-5 is-uppercase">Inventory</a>
                    <button type="button" (click)="addInventory()" class="button is-primary is-fullwidth mt-5 is-uppercase">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>