<section class="hero is-fullheight">
    <div class="hero-body is-flex is-mobile-flex-column">
        <div class="is-flex-grow-1">
            <form class="inventory-container mx-auto">

                <p class="title">Update Inventory</p>
                <p class="subtitle is-size-6 mt-2">Create new inventory with name and quantity</p>

                <div class="field">
                    <label class="label">Item Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter item name" />
                    </div>
                </div>
                <div class="field mt-4">
                    <label class="label">Select Category</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Category 001</option>
                                <option>Category 002</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field mt-4">
                    <label class="label">Supplier</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g., supplier" />
                    </div>
                </div>

                <div class="field mt-4">
                    <label class="label">Location</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g., thanjavur" />
                    </div>
                </div>

                <div class="is-flex is-gap-1">
                    <div class="field mt-4">
                        <label class="label">Quantity</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="1" />
                        </div>
                    </div>

                    <div class="field mt-4">
                        <label class="label">Unit Price</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="0.00" />
                        </div>
                    </div>
                </div>



                <div class="is-flex is-gap-1">
                    <a href="inventory" class="button is-fullwidth mt-5 is-uppercase">Inventory</a>
                    <button class="button is-primary is-fullwidth mt-5 is-uppercase">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>