<section class="hero is-fullheight">
    <div class="hero-body is-flex is-mobile-flex-column">
        <div class="is-flex-grow-1">
            <form class="inventory-container mx-auto">

                <p class="title">Update Inventory</p>
                <p class="subtitle is-size-6 mt-2">Update inventory with name and quantity</p>

                <div class="field">
                    <label class="label">Select Product</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Product 001</option>
                                <option>Product 002</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Quantity on hand</label>
                    <div class="control">
                        <input class="input" type="number" />
                    </div>
                </div>

                <div class="is-flex is-gap-1">
                    <a href="inventory" class="button is-fullwidth mt-5 is-uppercase">Inventory</a>
                    <button class="button is-primary is-fullwidth mt-5 is-uppercase">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>